<template>
  <!-- 二维码 -->
  <div class="outerContainer">
    <div v-if="inputList.length === 0">
      <img src="./../assets/chat-gpt-4.jpg" width="250" height="250" />
    </div>

    <!-- 标题栏 -->
    <div>
      <div class="title"><span>ChatGPT</span> —— 掘金时代</div>
    </div>

    <!-- 输入提示 -->
    <div v-if="inputList.length === 0">
      <p class="contentP"><span>
          <span class="point"></span>
        </span>免费赠送ChatGPT官方账号，点击进入「 <span><a href="https://t.zsxq.com/0c1X3ZnIq">ChatGPT掘金时代</a></span> 」。</p>
      <p class="contentP"><span class="point"></span>想要部署的朋友，可加入知识星球：<strong>ChatGPT掘金时代</strong>，添加星主微信手把手免费教你部署。</p>
      <p class="contentP"><span class="point"></span>开头输入 <strong>/</strong> 或者 <strong>空格</strong> 触发预设角色指令。</p>
    </div>

    <!-- 对话框 -->
    <div class="chatContainer">
      <div ref="scrollDiv" v-for="(item, index) in inputList" :key="item + index">
        <div class="chat">
          <img src="./../assets/qiqiang.jpg" class="gptImg" />
          <span>{{ item }}</span>
        </div>
        <div class="chat">
          <img src="./../assets/gpt4-bot.jpg" class="gptImg" />
          <div>本站点访问量过大，为防止恶意攻击暂时关闭全局key。<br>
            加入知识星球：<strong><a href="https://t.zsxq.com/0c1X3ZnIq">ChatGPT掘金时代</a></strong>，添加星主微信获取专享key<br>
            <img class="errImg" src="https://i.postimg.cc/sD6sGMvn/chat-gpt-4.jpg" alt="ChatGPT掘金时代">
          </div>
        </div>
      </div>
    </div>

    <!-- 输入部分 -->
    <div class="inputContainer">
      <el-popover :show-arrow="false" trigger="manual" placement="top" id="inputPopover"
        popper-style="width:360px; left: 50%; transform: translateX(-50%);" :visible="showSetting">
        <template #reference>
          <div class="setting-row">
            <div class="oprItem oprSetting">
              <div @click="setShowSetting">
                <el-icon class="el-input__icon">
                  <Setting />
                </el-icon>设置
              </div>
            </div>
            <div @click="reAnswer" class="oprItem">
              <el-icon class="el-input__icon">
                <RefreshRight />
              </el-icon>重新回答
            </div>
            <div @click="clearChat" class="oprItem">
              <el-icon class="el-input__icon">
                <DeleteFilled />
              </el-icon>清空对话
            </div>
          </div>
        </template>
        <div>
          <div class="settingItem">
            <el-icon class="el-input__icon">
              <Key />
            </el-icon>
            <span class="settingName">OpenAI API Key</span>
            <el-input v-model="apiKey"></el-input>
          </div>
          <div class="settingItem">
            <el-icon class="el-input__icon">
              <UserFilled />
            </el-icon>
            <span class="settingName">系统角色指令</span>
            <el-input v-model="cli"></el-input>
          </div>
          <div class="settingItem">
            <el-icon class="el-input__icon">
              <Opportunity />
            </el-icon>
            <span class="settingName">思维发散程度</span>
            <el-slider v-model="mindOpenDegree"></el-slider>
          </div>
          <div class="settingItem">
            <el-icon class="el-input__icon">
              <Document />
            </el-icon>
            <span class="settingName">记录对话内容，刷新不会消失</span>
            <el-switch v-model="saveChatHistory">
            </el-switch>
          </div>
          <div class="settingItem">
            <el-icon class="el-input__icon">
              <RefreshRight />
            </el-icon>
            <span class="settingName">开启连续对话，将加速消耗token</span>
            <el-switch v-model="continuousDialogue">
            </el-switch>
          </div>
        </div>
      </el-popover>
      <div>
        <el-input v-model="inputTxt" class="w-50 m-2" size="large" placeholder="与Ta对话吧" @change="addItem"
          @input="cmdInputListener">
          <template #suffix>
            <el-icon class="el-input__icon" @click="addItem">
              <Promotion />
            </el-icon>
          </template>
        </el-input>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      mindOpenDegree: 0,
      apiKey: '',
      cli: '',
      saveChatHistory: false,
      showSetting: false,
      continuousDialogue: false,
      inputTxt: '',
      inputList: [],
      chatReps: ''
    }
  },
  methods: {
    addItem() {
      if (!this.inputTxt) return;

      this.inputList.push(this.inputTxt);
      this.inputTxt = '';
      this.handleScrollBottom();
      this.getStream();
    },
    reAnswer() {
      // this.inputList = [];
    },
    clearChat() {
      this.inputList = [];
    },
    setShowSetting() {
      this.showSetting = !this.showSetting;
    },
    // 滚动到底部
    handleScrollBottom() {
      this.$nextTick(() => {
        this.$refs.scrollDiv[this.inputList.length - 1].scrollIntoView({ behavior: 'smooth' });
      });
    },
    cmdInputListener() {
      if (this.inputTxt.length > 0 && (this.inputTxt.startsWith("/") || this.inputTxt.startsWith(" "))) {

        console.info("pop all cmd")
      }
    },
    getStream() {
      this.$axios({
        url: '/stream',
        method: 'get'
      })
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media screen and (max-width: 400px) {
  .outerContainer {
    max-width: 360px;
  }

  .inputContainer {
    width: 360px;
  }

  .popover {
    width: 360px !important;
  }
}

@media screen and (min-width: 400px) {
  .outerContainer {
    max-width: 700px;
  }

  .inputContainer {
    width: 700px;
  }

  .popover {
    width: 700px !important;
  }
}

.inputContainer {
  position: fixed;
  bottom: 0;
  /* width: 700px; */
  background: #171921;
  padding-bottom: 60px;

}

.chatContainer {
  flex-grow: 1;
  padding-bottom: 130px;
}

.errImg {
  margin-top: 20px;
}

.chat {
  text-align: left;
  display: flex;
  margin-bottom: 30px;
}

.gptImg {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 15px;
}

h3 {
  margin: 40px 0 0;
}

.oprSetting {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.el-input__icon {
  margin-right: 6px;
}

a {
  color: #42b983;
}

.settingItem {
  justify-content: space-between;
  display: flex;
  margin: 6px 0
}

.settingName {
  flex-grow: 1;
  width: 60%;
}

.setting-row {
  display: flex;
}

.errImg {
  width: 200px;
  height: 200px;
}

.oprItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.outerContainer {
  /* max-width: 700px; */
  margin: 0 auto;
  color: #758092;
  display: flex;
  padding: 60px 0;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.break-words,
[break-words=""] {
  overflow-wrap: break-word;
}

.contentP {
  text-align: left;
  color: #758092;
}

.point {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  margin-right: 6px;
  background-color: #758092;

}

.title {
  font-size: 24px;
  color: antiquewhite;
  font-weight: 800;
  margin: 16px 0;
}</style>
